node_modules/
dist/
package-lock.json
src/config/secrets/
*-audit.json
*.log
logs
tests/__tests__
*.lock
outputs/
test_httpserver/*
!test_httpserver/allegro_run.sh
src/dev/
mapping_gen/
impls/*
.vscode/
buildSrc/config
